<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="widht=device-witht" />
    <title>Düzce Üniversitesi</title>
</head>
<body>
    <h1>FAKÜLTELER</h1>

    <br />
    <br />

    <a asp-action="Empty">Eğitim Fakültesi</a> <br />
    <a asp-action="Empty">Fen Edebiyat Fakültesi</a> <br />
    <a asp-action="Empty">İlahiyat Fakültesi</a> <br />
    <a asp-action="Empty">İşletme Fakültesi</a> <br />
    <a asp-action="Empty">Mühendislik Fakültesi</a> <br />
    <a asp-action="Empty">Orman Fakültesi</a> <br />
    <a asp-action="Empty">Spor Bilimleri Fakültesi</a> <br />
    <a asp-action="Empty">Tıp Fakültesi</a> <br />
    <a asp-action="Empty">Ziraat Fakültesi</a> <br />
    <a asp-action="Empty">Sağlık Bilimleri Fakültesi</a> <br />
    <a asp-action="Empty">Eczacılık Fakültesi</a> <br />
    <a asp-action="Empty">Akçakoca Meslek Yüksekokulu</a> <br />
    <a asp-action="Empty">Düzce Meslek Yüksekokulu</a> <br />
    <a asp-action="Empty">Kaynaşlı Meslek Yüksekokulu</a> <br />
</body>
</html>