<h1>İLETİŞİM</h1>
<br />
<br />
<h4>
    Düzce Üniversitesi Konuralp Yerleşkesi
    (Düzce University Konuralp Campus) <br />
    81620 DÜZCE - TÜRKİYE <br />
    TEL : 0850 800 81 81 <br />
    FAKS: 0380 542 11 03
</h4>
<br />
<br />
<br />

<a asp-action="Communication2">Fakültelerin detaylı numaraları için tıklarınız!</a>