@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Düzce Üniversitesi</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="hero">
        <video autoplay loop muted>
            <source src="~/Images/Düzce Üniversitesi.mp4" type="video/mp4">
        </video>
    </div>

</body>
</html>
