@using DüzceÜniversitesi.Models
@model List<Announcement>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Düzce Üniversitesi</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <a href="/home/Post" class="btn btn-primary">Yeni Duyuru</a>
    <br /> <br /> 
    <table class="table table-bordered">
        <tr>
            <th>Duyuru Başlığı</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>

        @foreach (var y in Model)
        {
            <tr>
                <td>@y.DuyuruBasligi</td>
                <td><a href="/home/DeleteAnnouncement/@y.ID" class="btn btn-danger">Sil</a></td>
                <td><a href="/home/ComeAnnouncement/@y.ID" class="btn btn-success">Güncelle</a></td>
                <td><a href="/home/Detail/@y.ID" class="btn btn-info">Detaylar</a></td>
            </tr>
        }
    </table>
</body>
</html>